<div id="current-user-summary">
  <h4>Summary Stats</h4>
  <p>
    <strong># of Entries:</strong>&nbsp;&nbsp;<%= current_user.entries.count %>
  </p>
  <p>
    <strong># of Recommendations:</strong>&nbsp;&nbsp;<%= current_user.recommendations.count %>
  </p>
  <p>
    <strong># of Tags:</strong>&nbsp;&nbsp;<%= current_user.tag_count %>
  </p>
</div>
