<div id="tags-tab" class="active">
  <div class="row">
    <div class="offset4 span9">
      <ul id="user-tags-cloud" style="width:300px;margin-left:100px;" class="tagcloud noninteractive"></ul>
    </div>
  </div>
</div>
